{% extends 'aplicacion/base.html' %}
{% load static %}

{% block content %}

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">
        <div class="d-flex justify-content-between align-items-center">
          <h2></h2>
          <ol>
            <li>Home</li>
            <li><a href="#">Colaboradores</a></li>
          </ol>
        </div>
      </div>
    </section><!-- End Buscar -->
            
    <!-- ======= Portfolio Details Section ======= -->
    <!-- ======= Services Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Nuestros</h2>
            <p>Colaboradores</p>
        </div>

        
        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
            {% for a in colaboradores %}
          <div class="col-lg-4 col-md-6 portfolio-item filter-app objetindex">
            <div class="portfolio-wrap">
              <img src="../../static/img/{{a.logo}}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>{{ a.nombreColaborador }}</h4>
                <div class="portfolio-links">
                  <a href="../../static/img/{{a.logo}}" data-gall="portfolioGallery" class="venobox" title="App 1"><i class="bx bx-plus"></i></a>
                  <a href="{{ a.link }}" target="_blank" title="Más Detalles"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>
            {% endfor %}   
        
        </div>

      </div>
    </section><!-- End Portfolio Section -->

   
     
    </main>

	<script>
		function Barrita() {
			$('#col').addClass('active');
        }
		window.onload = Barrita
    </script>


{% endblock content %}	

 




