{% extends 'aplicacion/base.html' %}
{% load static %}

{% block content %}

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2></h2>
          <ol>
            <li>Home</li>
            <li><a href="#">Proyectos Anual</a></li>
            <li><a href="#">Proyectos</a></li>
          </ol>
        </div>
          
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

           <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container" data-aos="fade-up">

          {% for p in pro %}
        <div class="section-title">
          <h2>Nuestro Proyecto</h2>
          <p>{{p.nombreProyecto}}</p>
        </div>      

              
                        <div id="about" class="container about sombraProyecto" data-aos="fade-up">
                          <div class="row">
                             
                             <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">                
                                       {% if p.videofile %}
                                            <section class="view intro-video">
                                                <div class="wow fadeIn">
                                                    <video class="video-fluid z-depth-300 " autoplay loop controls muted>
                                                        <source class="embed-responsive-item" src=' {{ MEDIA_URL }}{{ p.videofile }} ' type='video/mp4 ' 
                                                            allowfullscreen="" frameborder="50|7000" />
                                                    </video>
                                                </div>
                                                <script>
                                                    'undefined ' === typeof _trfq || (window._trfq = []);
                                                    'undefined ' === typeof _trfd && (window._trfd = []), _trfd.push({
                                                        'tccl.baseHost ': 'secureserver.net '
                                                    }), _trfd.push({
                                                        'ap ': 'cpsh '
                                                    }, {
                                                        'server ': 'p3plcpnl0769 '
                                                    })
                                                </script>
                                            </section>
                                        {% endif %}
                              </div>

                              <br/>

                              <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
                                    <h3 class="text-uppercase estilo">{{p.nombreProyecto}}.</h3>
                                    <p class="font-italic text-justify">{{p.descripcion}}</p>
                                    <dl>
                                          {% autoescape off%}
                                              <ul>
                                                <li><i class="ri-check-double-line"></i> {{p.logros}}  </li>
                                                <li><i class="bx bx-photo-album"></i> <a target="_blank" href="#" title="Más Detalles">Ver Misceláneas</a></li>
                                              </ul>

                                              <dt class="estilo">Entidad a Cargo:</dt>                                                                                        
                                                    <div class="col-md-6 text-center">
                                                        <div class="product"><br>                                            
                                                                <a target="_blank" href="{{p.entidades.link}}" title="Más Detalles"><img src="{{p.entidades.logo.url}}" class="img-responsive" alt="#"></a>
                                                        </div>
                                                    </div>
                                                    
                                          {% endautoescape %}
                                    </dl>

                              </div>

                            </div>
                          </div>
              <br/>

      <div id="about" class="container about sombraProyecto" data-aos="fade-up">
        <div class="row " data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">Todos</li>
              <li data-filter=".filter-app">Princ.</li>
              <li data-filter=".filter-web">Varias</li>
            </ul>
          </div>
        </div>
        
        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
                     
          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{{p.imagen.url}}" class="img-fluid" alt="">            
              <div class="portfolio-info">
                <h4>{{p.entidades}}</h4>
                <p>{{p.nombreProyecto}}</p>             
                <div class="portfolio-links">
                  <a href="{{p.imagen.url}}" data-gall="portfolioGallery" class="venobox" title="App 1"><i class="bx bx-plus"></i></a>
                </div>                
              </div>              
            </div>
          </div>

          {% for q in ima %}
          {% if p.id == q.imagenes.id %}  
           
          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="{{q.images.url}}" class="img-fluid" alt="">
              <div class="portfolio-info">
                
                <h4>{{p.entidades}}</h4>
                <p>{{p.nombreProyecto}}</p>
                
                <div class="portfolio-links">
                  <a href="{{q.images.url}}" data-gall="portfolioGallery" class="venobox" title="Web 3"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </div>
          
          {% endif %} 
          {% endfor %}
     
        </div> 
        </div>
          {% endfor %}
      </div>
    </section><!-- End Portfolio Section -->

   
   
</main>
       
  <script>
		function Barrita() {
			$('#pro').addClass('active');
        }
		window.onload = Barrita
    </script>

					<!-----------------Content-------------------->
						
					

{% endblock content %}	

 




