{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Red de Empleo</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'img/logo_red.jpg' %}" rel="icon" style="width:220px;"> 
  <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/icofont/icofont.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/venobox/venobox.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">

  <link href="{% static 'css/zerogrid.css' %}" rel="stylesheet" media="all" type="text/css">
  <link href="{% static 'css/style2.css' %}" rel="stylesheet" media="all" type="text/css">

  <link href="{% static 'css/style3.css' %}" rel="stylesheet" media="all" type="text/css">
  <link href="{% static 'css/animate.css' %}" rel="stylesheet" media="all" type="text/css">
  <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" type="text/css"> 
  <link href="{% static 'css/owl.carousel.css' %}" rel="stylesheet">

  <link href="{% static 'css/jquery.mb.ytplayer.min.css' %}" rel="stylesheet" media="all" type="text/css">
  
  <!-- Template Main CSS File -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Gp - v2.0.0
  * Template URL: https://bootstrapmade.com/gp-free-multipurpose-html-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="index.html"><img src="{% static 'img/logo_red.jpg' %}"></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="{% url 'inicio' %}">Home</a></li>
          <li id="nos"><a href="{% url 'aplicacion:nosotros'  %}">Nosotros</a></li>

          <li class="drop-down"><a href="">Proyectos</a>
            <ul>
              {% for pro in anual %} 
                  <li class="drop-down"><a href="{% url 'aplicacion:proyectoAnual' pro.id %}">{{pro.titulo}}</a>
                    <ul>
                      {% for promo in project %}   
                        {% if pro.id == promo.proyectoAnual.id %}  
                          <li><a href="{% url 'aplicacion:proyecto' promo.id %}">{{promo.nombreProyecto}}</a></li>
                        {% endif %} 
                      {% endfor %}
                    </ul>
                  </li>
              {% endfor %}
            </ul>
          </li>

          <li id="rec"><a href="{% url 'aplicacion:recurso'  %}">Recursos</a></li>
          <li id="col"><a href="{% url 'aplicacion:colaborador'  %}">Colaboradores</a></li>  
          <li id="not"><a href="{% url 'aplicacion:noticia'  %}">Noticias</a></li>       
          <li id="con"><a href="{% url 'aplicacion:contacto'  %}">Contacto</a></li>

        </ul>
      </nav><!-- .nav-menu -->

      </div>
  </header><!-- End Header -->

    <!-- ======= Hero Section ======= -->

  {% if videofile %}

  <section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container-fluid" data-aos="fade-up">
        <video class="video-fluid z-depth-300 " autoplay loop controls muted>
            <source class="embed-responsive-item" src=' {{ MEDIA_URL }}{{ videofile }} ' type='video/mp4 ' 
                allowfullscreen="" frameborder="5000|300000" />
        </video>

       

    </div>

    <script>
        'undefined ' === typeof _trfq || (window._trfq = []);
        'undefined ' === typeof _trfd && (window._trfd = []), _trfd.push({
            'tccl.baseHost ': 'secureserver.net '
        }), _trfd.push({
            'ap ': 'cpsh '
        }, {
            'server ': 'p3plcpnl0769 '
        })
    </script>
</section>
{% endif %}
<br><br>
  
  <main id="main">
 
<!--proyecto del año-->
      <section id="counts" class="counts">
       
        <div class="zerogrid-fluid">
          <div class="wrap-box">
            <div class="header wow fadeInUp" data-wow-delay=".1s" data-wow-duration="1s">
              {% for pro in anual %} 
              {% if pro.status == True %}
            <div class="section-title text-center">
              <p> {{pro.titulo}} </p>
              <h2></h2>              
            </div>
            <div class="content wow fadeIn" data-wow-delay=".1s" data-wow-duration="1s">
              <div class="row">
                 {% for promo in project %}   
                    {% if pro.id == promo.proyectoAnual.id %}  
                <div class="lg-1-5 md-1-3 sm-1-2">
                  <div class="portfolio-box zoom-effect objetindex">
                    
                  
                    <div class="portfolio-wrap">
                      <img src="../../static/img/{{promo.imagen}}" class="img-fluid" alt="">
                        <div class="portfolio-box-caption">
                          <div class="portfolio-box-caption-content">
                                <div class="project-name">
                                  {{promo.nombreProyecto}}
                                </div>
                                <div class="project-category">
                                  {{promo.entidades.nombreEntidad}}
                                </div>
                                <div class="project-button">
                                  <a target="_blank" href="{% url 'aplicacion:proyecto' promo.id %}" class="button button-skin">Read More</a>
                                </div>
                                <div class="portfolio-links">
                                  <a href="../../static/img/{{promo.imagen}}" data-gall="portfolioGallery" class="venobox" title="Proyecto del Año"><i class="bx bx-plus"></i></a>
                                  <a target="_blank" href="{% url 'aplicacion:proyecto' promo.id %}" title="Más Detalles"><i class="bx bx-link"></i></a>
                                </div>
                          </div>
                      </div>
                    </div>
                 
                  </div>
                  </div>
                {% endif %} 
                {% endfor %} 


      
              </div>
              {% endif %} 
              {% endfor %} 
            </div>
          </div>
        </div>
      </section>

<!--=======fin proyecto del año=======-->

        
<!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>Nosotros</h2>
          <p>A cerca de nosotros</p>
        </div>

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="assets/img/about.jpg" class="img-fluid" alt="">
            <img src="{% static 'img/about.jpg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
            <h4>Experiencia Vocacional en Empresa - EVE.</h4>
            <p class="font-italic text-justify">        
        El proyecto EVE son las siglas de Experiencia Vocacional en Empresa. Es una experiencia formativa y de desarrollo vocacional para jóvenes en riesgo de exclusión con edades de entre 16 y 21 años, llevada a cabo en un entorno empresarial con el fin de mejorar su empleabilidad,...<a target="_blank" class="cta-btn" href="{% url 'aplicacion:nosotros'  %}">Ver Más</a>
            </p>
            <h5>¿Qué jóvenes participan?</h5>
            <br/>
            <ul>
              <li><i class="ri-check-double-line"></i> Jóvenes en riesgo de exclusión social.</li>
              <li><i class="ri-check-double-line"></i> Que tengan necesidad de una orientación para poder llegar a definir su proyecto profesional o que precisan de elementos de apoyo complementarios.</li>
              <li><i class="ri-check-double-line"></i> Con una edad de entre 16 años y 21 años.</li>
              <li><i class="ri-check-double-line"></i> Con documentación en regla.</li>
            </ul>
            <br/>
            
          </div>
        </div>

      </div>
    </section><!-- End About Section -->     

<!--======= fin de acerca de nosotros ========-->

<!-- ======= Clients Section ======= -->
    <section id="clients" class="clients">
          
      <div class="container" data-aos="zoom-in">
        <div class="owl-carousel clients-carousel">
          {% for e in enti %} 
          <img src="../../static/img/{{e.logo}}" alt="" href="{{e.link}}" target="_blank">
          {% endfor %}
        </div>
      </div>      
    </section>
<!--======= End Clients Section =======-->


    
<!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container" data-aos="zoom-in">

        <div class="text-center">
          <h3>Únete a Nosotros</h3>
          <p> Tu colaboración nos ayuda a mejorar nuestra actuación en los programas que tienen mayores necesidades de financiación.</p>
          <a target="_blank" class="cta-btn" href="{% url 'aplicacion:contacto'  %}">Únete</a>
        </div>

      </div>
    </section>
<!-- ======= End Cta Section ======= -->

<!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>Logros</h2>
          <p>Impacto Social</p>
        </div>

        <div class="row no-gutters">
          <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-lg-start" data-aos="fade-right" data-aos-delay="100"></div>
          <div class="col-xl-7 pl-0 pl-lg-5 pr-lg-1 d-flex align-items-stretch" data-aos="fade-left" data-aos-delay="100">
            <div class="content d-flex flex-column justify-content-center">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit
              </p>
              <div class="row">
                {% for n in numero %}
                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="icofont-tick-mark"></i>
                    <span data-toggle="counter-up">{{ n.dato }}</span>
                    <p class="text-justify text-lowercase"><strong class="text-capitalize">{{ n.nombre }},</strong> {{ n.texto }}.</p>
                  </div>
                </div>
                {% endfor %}              
              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section>
<!-- ======= End Counts Section =====-->


<!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container" data-aos="zoom-in">

        <div class="owl-carousel testimonials-carousel">
          {% for t in testi %}
          <div class="testimonial-item">
            <img src="../../static/img/{{t.foto}}" class="testimonial-img" alt="">
            <h3 class="text-capitalize">{{ t.nombre }}</h3>
            <h4 class="text-uppercase">{{ t.proyecto }}</h4>
            <h4 class="text-capitalize">{{ t.entidad }}</h4>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              {{ t.texto }}.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>
          {% endfor %}
        </div>

      </div>
    </section>
<!--======= End Testimonials Section ======== -->

  <br/>

<!-- ======= Features Section ======= -->
    <section id="features" class="features">
      <br/>
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>Requisitos</h2>
          <p>Nuestros Requisitos</p>
        </div>

        <div class="row">
          <div class="image col-lg-6" style="background-image: url({% static 'img/featuresIndex.jpg' %});" data-aos="fade-right"></div>
          <div class="col-lg-6" data-aos="fade-left" data-aos-delay="100">
            <div class="icon-box mt-5 mt-lg-0" data-aos="zoom-in" data-aos-delay="150">
              <i class="icofont-ui-calendar"></i>
              <h4>Durante un periodo entre 1 a 4 meses.</h4>
              <p class="text-justify">Con un máximo de 25 horas semanales, los jóvenes participantes realizaran las tareas propias de un puesto de trabajo.</p>
            </div>
            <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
              <i class="icofont-users-alt-2"></i>
              <h4>Con una edad de entre 16 años y 21 años.</h4>
              <p class="text-justify">Se trata de un modelo alternativo para permitir que los jóvenes sigan formándose de manera activa y desarrollen habilidades socio-laborales.</p>
            </div>
            <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
              <i class="bx bx-images"></i>
              <h4>Con documentación en regla.</h4>
              <p class="text-justify">Llevada a cabo en un entorno empresarial con el fin de mejorar su empleabilidad, involucrando a las empresas en la formación.</p>
            </div>
            <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
              <i class="bx bx-shield"></i>
              <h4>Jóvenes en riesgo de exclusión social.</h4>
              <p class="text-justify">Que tengan necesidad de una orientación para poder llegar a definir su proyecto profesional.</p>
            </div>            
          </div>
        </div>

      </div>
    </section>
<!-- ======= End Features Section =======-->



 
   
    
   

    

    

    
    
    <!--agregado frase start-->

    <section class="content-box box-2 box-style-2">
        <div class="zerogrid">
          <div class="wrap-box"><!--Start Box-->
            <div class="content wow fadeInLeft" data-wow-delay=".1s" data-wow-duration="1s">
              <div class="row">
                <div class="sm-1-2 offset-sm-2-4">
                  <blockquote><p>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet vultatup duista.</p></blockquote>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

    <!--fin agregado-->

    <!--agregado start-->

         
      <section class="content-box box-5">
        <div class="zerogrid-fluid">
          <div class="wrap-box"><!--Start Box-->
            <div class="header wow fadeInUp" data-wow-delay=".1s" data-wow-duration="1s">
              <h3>Últimas Noticias</h3>                      
              <span class="intro">Lorem ipsum dolor sit amet consectetur adipisicing</span>
            </div>
            <div class="content wow fadeInRight" data-wow-delay=".1s" data-wow-duration="1s">
              
             

                <div class="owl-carousel">
                                          

                {% for press in prensa %}
                <div class="sm-1-3">
                  
                  <div class="wrap-col">
                    <div class="box-entry">
                       
                      <div class="box-entry-inner objetfit">
                        <img src="../../static/img/{{press.imagen}}" class="img-responsive" />
                        <div class="entry-details">
                          <div class="entry-des">
                            <span>{{press.fecha}}</span>
                            <h3 class="pressname text-center text-uppercase"><a target="_blank" href="{{press.link}}">{{press.titulo}}</a></h3>
                            <p class="presstext text-justify">{{press.descripcion}}.</p>
                            <a class="button button-skin" href="{{press.link}}" target="_blank">Leer Más</a>
                          </div>
                        </div>
                      </div>
                      
                    </div>
                  </div>

                 {% endfor %}
             
             </div>
            </div>
          </div>
        </div>
      </section>



                  
      <!-----------------content-box-6-------------------->
      <section class="content-box box-6 box-style-3">
        <div class="zerogrid-fluid">
          <div class="wrap-box"><!--Start Box-->
            <div class="content wow fadeInLeft" data-wow-delay=".1s" data-wow-duration="1s">
              
              
            </div>
          </div>
        </div>
      </section>
      
    <!--agregado fin-->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contacto</h2>
          <p>Contáctanos</p>
        </div>

        <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">
              
              <div class="email">
                <i class="icofont-envelope"></i>
                <h4>Correo:</h4>
                <p>info@example.com</p>
              </div>

              <div class="phone">
                <i class="icofont-phone"></i>
                <h4>Teléfono:</h4>
                <p>+1 5589 55488 55s</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

            <form name="form1" method="post" action=""> {% csrf_token %}
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    {{ form.contact_name }}
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    {{ form.contact_email }}
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    {{ form.subject }}
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    {{ form.message }}
                  </div>            
                  <button type="submit" class="btn btn-skin btn-block recp get-started-btn scrollto" name="submitcontact" id="submitcontact"> <p class="font-weight-bold">Enviar</p> </button>
                </div>
              </div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3 class="logo"><img src="{% static 'img/logo_red.jpg' %}"></h3>
              <p>
                A108 Adam Street <br>
                NY 535022, USA<br><br>
                <strong>Phone:</strong> +1 5589 55488 55<br>
                <strong>Email:</strong> eve.redjoven@gmail.com <br>
              </p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Enlaces Útiles</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'aplicacion:nosotros'  %}">Nosotros</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'aplicacion:recurso'  %}">Recursos</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'aplicacion:colaborador'  %}">Colaboradores</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'aplicacion:noticia'  %}">Noticias</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Política. Privac.</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Colaboradores</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a target="_blank" href="https://larueca.info/">Asociación La Rueca</a></li>
              <li><i class="bx bx-chevron-right"></i> <a target="_blank" href="https://tomillo.org/">Fundación Tomillo</a></li>
              <li><i class="bx bx-chevron-right"></i> <a target="_blank" href="https://fundacionexit.org/">Fundación Exit</a></li>
              <li><i class="bx bx-chevron-right"></i> <a target="_blank" href="https://opcion3.es/">Opción 3</a></li>
              <li><i class="bx bx-chevron-right"></i> <a target="_blank" href="https://nortejoven.org/">Empleo Norte Joven</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>

          </div>

        </div>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'vendor/owl.carousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'vendor/venobox/venobox.min.js' %}"></script>
  <script src="{% static 'vendor/waypoints/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'vendor/counterup/counterup.min.js' %}"></script>
  <script src="{% static 'vendor/aos/aos.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'js/main.js' %}"></script>

</body>

</html>